* {box-sizing: border-box}

form {
	border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 300px;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 12px;
}

.main {
	width:700px;
    border-top:40%;
    padding-top:5%;
    margin-top:5%;
    padding-left:35%;
    border-left:10%;
    min-height: 100px;
    overflow: hidden;
    border-style: hidden;
}

 button [type = button]  {
   width: 300px;
}

.link {
	background-color: #0000ff;
	border: none;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 2px 2px;
	height: 30%;
	width: 60%;
	border-radius: 12px;
}
.submit {
	background-color:  #20B2AA;
	color: white;
	padding: 12px 20px;
	margin: 8px 0;
	border: thick;
	cursor: pointer;
   	border-radius: 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border-radius: 12px;
	height: 6%;
	width: 10%;
}

#cncl {
	color: #FF4500;
	padding: 12px 20px;
	margin: 8px 0;
	border: thick;
	cursor: pointer;
	
   	border-radius: 12px;
	border-color :#FF4500;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border-radius: 12px;
	height: 6%;
	width: 10%;
}
#back {
	color: #FF4500;
	padding: 12px 20px;
	margin: 8px 0;
	border: thick;
	cursor: pointer;
	
   	border-radius: 12px;
	border-color :#FF4500;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border-radius: 12px;
	height: 6%;
	width: 10%;
}



#emptydiv{
	height: 5cm;
}

legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    color: blue;
    font-size: x-large;
    font-weight: bold;
}


.ut{
    width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: red;
}

#main{
    width: 80%;
    height:70%;
    margin-left: 10%;
    padding-bottom: 20%;
}

#btngroup{
	width: 80%;
	height:10%;
    margin-left: 10%;
    background-color: #FF4500;
    font-size: 16px;
}
