body {font-family: Arial;}
* {box-sizing: border-box}

form {
	border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

#main {
	width: 700px;
    border: 2% solid green;
    padding: 2%;
    margin: 2%;
    min-height: 100px;
    overflow: hidden;
}

.link {
	display: block;
	width: 128px;
   	height: 40px;
   	background-color: blue;
   	font-family: Arial;
   	font-size: medium;
   	color: white;
   	text-decoration: none ;
}



