body, html {
    /* Full height */
    height: 100%; 
    border-top :5%;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
    background-color:snow;
}


* {box-sizing: border-box}

form {
	border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.main {
	width:700px;
    border-top:40%;
    padding-top:5%;
    margin-top:5%;
    padding-left:35%;
    border-left:10%;
    min-height: 100px;
    overflow: hidden;
    border-style: hidden;
}

 button [type = button]  {
   width: 300px;
}

 .submit {
    background-color: #0000ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;
}

#cncl {
    background-color: #cc0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;
}

.link {
	display: block;
	width: 128px;
   	height: 40px;
   	background-color: blue;
   	font-family: Arial;
   	font-size: medium;
   	color: white;
   	text-decoration: none ;
}

#emptydiv{
	height: 5cm;
}

legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    color: blue;
    font-size: x-large;
    font-weight: bold;
}


.ut{
    width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/*input[type=text]{
			width: 75%;
			height :1em;
    		padding: 12px 20px;
    		margin: 8px 0;
    		display: inline-block;
    		border: 1px solid #ccc;
    		box-sizing: border-box;
    		background-color: #FFFFE0;

		}*/